.title {
  border-top: 0px;
  color: #c2c2c2;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: hidden;
}
.title_time{
  height: 50px;
  border-top: 0px;
  overflow: hidden;
  white-space: nowrap;
}
.title_time .title_tian>div{
  display: inline-block;
}
.title_time1{
  height: 50px;
  border-top: 0px;
}
.title_time2{
  height: 50px;
  border-top: 0px;
}
.today{
  background-color: #2196f3;
  opacity: 10%;
}