.title {
  height: 926px;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  border-top: 0px;
  color: #c2c2c2;
  display: flex;
  flex-direction: column;
  flex:1;
}
.title_time{
  height: 50px;
  border-top: 0px;
}
.title_time .title_tian>div{
  display: inline-block;
}
.title_time1{
  height: 50px;
  border-top: 0px;
}
.title_time2{
  height: 50px;
  border-top: 0px;
}