.title {
  height: 800px;
  width: 990px;
  float: left;
  white-space: nowrap;
  overflow-x: auto;
  border: 1px solid #c2c2c2;
  border-top: 0px;
  box-sizing: border-box;
  color: #c2c2c2;
}
.title_time{
  height: 50px;
  border-top: 0px;
}
.title_time>div{
  display: inline-block;
  
}
